{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings in {{cat}}</h2>
    <br><br>
    {% for listing in listings %}
    {% if not listing.closed %}
        <h3>{{listing.title}}</h3>
        <h5>Price: {{listing.price}}</h5>
        <p>{{listing.description}}</p>
        {% if listing.image %}
        <img src="{{listing.image}}" style=" width: 800px; height:500px;"> 
        {%endif%}
        <br><br>
        <a href="{% url 'listing_page' listing.id%}">Visit listing</a>
        <br></br>
    {% endif %}
    {%endfor%}
{% endblock %}